.place__title {
    grid-area: title;
    margin: 0;
    padding: 0;
    grid-area: title;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;

}

@media all and (max-width: 1000px) {    /*верно для  768. возможно лучше до 1023 продолжить*/
    .place__title {
        font-size: 42px;
        line-height: 46px;        /* or 110% */
    }
}

@media all and (max-width: 767px) {
    .place__title {
        font-size: 32px;
        line-height: 35px;        /* identical to box height, or 109% */
    }
}
@media all and (max-width: 500px) {
    .place__title {
        padding: 0 16px;
    }
}

@media only screen and (max-width: 319px) {/* менее 320 */
    .place__title {
        font-size: 20px;
        line-height: 20px; /* избавляюсь от скролла на мелких экранах */
    }
}