@import url('./__title/lead__title.css');
@import url('./__subtitle/lead__subtitle.css');
@import url('./__figure/lead__figure.css');
@import url('./__image/lead__image.css');
@import url('./__caption/lead__caption.css');

.lead {
    margin: 0 auto;
    max-width: 984px;
    padding: 56px 0 0 0;
    align-items: center;
}

@media screen and (max-width: 1030px) {
    .lead {
        padding: 48px 48px 0;
    }
}

@media all and (max-width: 780px) {
    .lead {
        padding: 48px 0 0;
    }
}
