@import url('./__background/cover__background.css');
@import url('./__title/cover__title.css');
@import url('./__subtitle/cover__subtitle.css');

.cover {
    margin: 0 auto;
    max-width: 1280px;
    padding: 92px 48px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

@media all and (max-width: 1030px) {
    .cover {
        padding: 92px 0 0;
    }
}

@media all and (max-width: 780px) {
    .cover {
        padding: 88px 0 0;
    }
}

@media all and (max-width: 340px) {
    .cover {
        padding: 64px 0 0;
    }
}