@import url('./__title/place__title.css');
@import url('./__image/place__image.css');
@import url('./__paragraph/place__paragraph.css');
@import url('./__text/place__text.css');
@import url('./__website/place__website.css');
@import url('./__url/place__url.css');
@import url('./__link/place__link.css');

.place {
    max-width: 1280px;
    margin: 0;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 45% auto;  /*minmax() не подходит, auto-fit смещает и не сохраняет пропорции и заданные ширины текста. 
    с 50% 50% текст выходит за границы, но без этого правила колонки ездят по-разному 
    в каждой карточке как с repeat(2, auto).*/
    grid-gap: 48px 40px;
    grid-template-areas:
        'title website'
        'image text';
}

.place:nth-last-of-type(1){
        padding-bottom: 0;
}

@media screen and (max-width: 1279px) {
    .place {
        grid-gap: 48px 32px;        /*max-width: 1200px;*/
    }
}

@media all and (max-width: 1023px) {
    .place {
        grid-gap: 48px 28px;
    }
}

@media all and (max-width: 767px) {
    .place {
        max-width: 90%; /*такого в макете нет, но у ребят в группе ругаются ревью, мне посоветовали отлепить карточку, чтоб блок не тянулся так сильно*/
        margin:0 auto;
        grid-template-columns: 100%;
        grid-template-areas:
            'title'
            'image'
            'text';
        grid-gap: 32px 0;
    }
}

@media all and (max-width: 500px) {
    .place {
        max-width: 100%;
    }
}
